<h2>Países</h2>
<hr>

<ul class="list-group">
  <!-- <li
    routerLink=""
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
    class="list-group-item"
  >
    Home Page
  </li>

  <li
    routerLinkActive="active"
    routerLink="about"
    class="list-group-item"
  >
    About Page
  </li>

  <li
    routerLinkActive="active"
    routerLink="contact"
    class="list-group-item"
  >
    Contact Page
  </li> -->

  <li
    routerLink="countries/by-capital"
    routerLinkActive="active"
    class="list-group-item"
  >
    Por capital
  </li>

  <li
    routerLink="countries/by-country"
    routerLinkActive="active"
    class="list-group-item"
  >
    Por país
  </li>

  <li
    routerLink="countries/by-region"
    routerLinkActive="active"
    class="list-group-item"
  >
    Por región
  </li>
</ul>
